body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.container {
  width: 21cm;
  height: 29.7cm;
  padding-top: 15px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.name {
  font-size: 25px !important;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

.email {
  text-align: left;
  display: flex;
  align-items: center;
}

.email img {
  width: 25px;
  height: 25px;
}

.email p {
  margin: 0px;
  padding-left: 5px;
}

.linkedIn {
  text-align: left;
  display: flex;
  align-items: center;
}

.linkedIn img {
  width: 25px;
  height: 25px;
}

.linkedIn p {
  margin: 0px;
  padding-left: 5px;
}

.github {
  text-align: left;
  display: flex;
  align-items: center;
}

.github img {
  width: 25px;
  height: 25px;
}

.github p {
  margin: 0px;
  padding-left: 5px;
}

.accounts {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.accounts a {
  margin-left: 10px;
}

ul {
  margin: 0;
}

.content {
  margin-top: 10px;
}

.aside {
  width: 15%;
  background-color: #2682ef;
  text-align: center;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.info {
  padding-left: 10px;
  flex-grow: 1;
  padding-top: 20px;
}

.aside p:first-child {
  margin-top: 5px;
}

.flex-container {
  display: flex;
  margin-top: 10px;
}

.li-date-action {
  display: flex;
}

.date {
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  width: 25%;
}

.skills ul {
  width: 30%;
}

.sub-ul {
  list-style-type: decimal;
  width: 100%;
}

.p-info ul {
  width: 50%;
}

.t-wrabber {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #2682ef;
  font-size: 16px;
}

th {
  line-height: 35px;
  color: white;
}

td {
  line-height: 30px;
  padding-left: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.last-flex-container {
  background-color: #2682ef;
  line-height: 35px;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.social-account {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
